openshift
PyYAML
requests
jsonpath-rw
connexion[swagger-ui]
connexion
pydantic
jinja2
escapism
tornado
jupyterhub
prometheus-api-client
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
